html, body {
    height: 100vh;
}

body {
    min-width: 1366px;
    background-color: $content-bg-color;
    margin: 0;
    font-family: $font-family;
    font-size: $font-size-4;
    font-weight: $font-normal;
    font-style: normal;
    color: $text-color;
}

*{
    box-sizing: border-box;
    outline: none;
}
