@import './variables.scss';

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    background-color: $content-bg-color;
    &__main {
        flex-grow: 1;
    }
    &__block-separator {
        position: relative;
        padding: 28px 0;
        margin: 0 40px;
        &::after {
            position: absolute;
            content: "";
            bottom: 0;
            left: 28;
            height: 1px;
            width: 100%;
            background-color: $separator-color;
        }
    }
    &__category {
        position: relative;
        display: flex;
        align-items: center;
    }
    &__title {
        font-size: $font-size-b;
        line-height: $line-height-h;
        color: $content-title-color;
        margin-right: 12px;
    }
    &__subtitle {
        font-size: $font-size-m;
        font-weight: $font-weight-l;
        line-height: $line-height-m;
        margin-right: 16px;
    }
    &__icon{
        &--edit {
            background-image: url("/src/images/icon-edit.svg");
            width: 18px;
            height: 20px;
        }
        &--cancel {
            background-image: url("/src/images/icon-cancel.svg");
            width: 11px;
            height: 11px;
            align-self: flex-start;
            margin-left: 9px;
        }
    }
    &__table {
        display: flex;
        margin-top: 16px;
    }
    &__column {
        margin-right: 12px;
        min-width: 150px;
    }
    &__th {
        color: $th-color;
    }
    &__tr,
    &__file {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    &__th, 
    &__tr {
        margin-top: 12px;
    }
    &__link {
        color: $item-color;
        display: block;
    }
    &__file {
        position: relative;
        padding-left: 35px;
        font-size: $font-size-s;
        max-width: 185px;
        color: $file-text-color;
        font-size: $font-size-s;
        &::before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 25px;
            height: 28px;
            background-image: url("/src/images/icon-text-file.svg");
        }
        &--uncertain {
            &::before {
                background-image: url("/src/images/icon-common-file.svg");
            }
        }
    }
    &__description {
        color: $file-description-color;
        margin-top: 4px;
    }
    &__button {
        margin-top: 32px;
    }
}
