.footer {
    display: flex;
    justify-content: center;
    
    &__info {
        margin-top: 40px;
        margin-bottom: 60px;
        color: $footer-text-color;
        line-height: $line-height-9;
        font-size: $font-size-6;
        text-align: center;
    }
}
