@import './variables.scss';

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 40px;
    &__nav {
        display: inline-flex;
        justify-content: center;
        color: $item-color;
        font-weight: $font-bold;
    }
    &__title {
        padding-left: 16px;
    }
    &__control {
        font-size: 0;
        display: flex;
        justify-content: center;
    }
    &__button {
        margin-left: 25px;
        &:first-child {
            margin: 0;
        }
    }
    &::after {
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $separator-color;
    }
}
