.header {
    position: fixed;
    display: flex;
    min-width: inherit;
    height: 72px;
    justify-content: space-between;
    align-items: center;
    padding: 24px 40px;
    border-bottom: 1px solid $separator-color;
    background-color: $content-bg-color;
    z-index: 5;

    &__nav {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: $item-color;
        font-weight: $font-bold;
    }

    &__title {
        padding-left: 16px;
    }

    &__control {
        font-size: 0;
        display: flex;
        justify-content: center;
    }

    &__button {
        margin-left: 25px;
        &:first-child {
            margin: 0;
        }
    }
}
