@import './variables.scss';

.menu {
    flex-grow: 1;
    display: flex;
    &__nav {
        min-width: 48px;        
        background: $main-nav-color;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
    }
    &__link {
        display: block;
        cursor: pointer;
        padding: 0;
        margin-top: 40px;
        &:first-child {
            margin-top: 0;
        }
    }
    &__personal {
        margin-top: 210px;
        position: relative;
        &::after {
            position: absolute;
            content: "";
            width: 32px;
            height: 1px;
            top: -20px;
            left: 50%;
            transform: translateX(-50%);        
            background-color: $separator-bg-color;
        }
    }
    &__base {
        width: 100%;
        background: $main-color;
    }
}
