// color
$content-bg-color: #FFFFFF;
$main-nav-color: #82B284;
$main-color: #F7F7F7;
$main-cell-color: #EEEEEE;
$text-color: #3B3B3B;
$file-text-color: #343434;
$btn-text-color: #FFFFFF;
$btn-text-color-cancel: #B9B9B9;

// font
$font-family: 'Proxima Nova', sans-serif;

