// color
$content-bg-color: #FFFFFF;
$btn-text-color: #FFFFFF;
$btn-text-color-cancel: #B9B9B9;
$btn-text-color-delete: #82B284;
$box-bg-color: #FFFFFF;
$box-shadow-color: rgba(0, 0, 0, 0.15);
$main-nav-color: #82B284;
$item-color: #82B284;
$btn-bg-color: #82B284;
$main-nav-color-active: #A4C7A5;
$separator-nav-color: #A4C7A5;
$separator-color:#E5E5E5;
$footer-text-color: #BFBFBF;
$popup-bg-color: rgba(0, 0, 0, 0.5);
$main-color: #F7F7F7;
$main-cell-color: #EEEEEE;
$file-description-color: #D7D7D7;
$text-color: #3B3B3B;
$th-color: #808080;
$file-text-color: #343434;
$content-title-color: #222222;
$title-color: #42425D;
$gradient-color-one: rgba(0, 0, 0, 0.072);
$gradient-color-two: rgba(255, 255, 255, 0);

// font
$font-family: 'proxima-nova', sans-serif;

$font-bold: 600;
$font-normal: 400;
$font-light: 300;

$font-size-1: 24px;
$font-size-2: 20px;
$font-size-3: 18px;
$font-size-4: 16px;
$font-size-5: 14px;
$font-size-6: 12px;

$line-height-1: 30px;
$line-height-2: 28px;
$line-height-3: 26px;
$line-height-4: 24px;
$line-height-5: 21px;
$line-height-6: 20px;
$line-height-7: 19px;
$line-height-8: 18px;
$line-height-9: 14px;
