.content__main
    .content__block-separator
        .content__category
            .content__title Перспективные захоронения
            div.content__icon
                input(type="image" name="edit" src="src/images/icon-edit.svg")
    .content__block-separator
        .content__category
            .content__subtitle ОБЩАЯ ИНФОРМАЦИЯ
            div.content__icon
                input(type="image" name="edit" src="src/images/icon-edit.svg")
        .content__table
            .content__column 
                .content__th Полное название:
                .content__th Договор:
                .content__th Форма:
                .content__th Тип:
            .content__column 
                .content__tr ООО Фирма “Перспективные захоронения”
                .content__tr 12345 от 12.03.2015, расторгнут 20.05.2017
                .content__tr ООО
                .content__tr Агент, Подрядчик
    .content__block-separator
        .content__category
            .content__subtitle КОНТАКТНЫЕ ДАННЫЕ
            div.content__icon
                input(type="image" name="edit" src="src/images/icon-edit.svg")
        .content__table
            .content__column 
                .content__th ФИО:
                .content__th Телефон:
                .content__th Эл. почта:
            .content__column 
                .content__tr Григорьев Сергей Петрович
                .content__tr +7 (916) 216-55-88
                a.content__link.content__tr grigoriev@funeral.com
    .content__block-separator
        .content__category
            .content__subtitle АДРЕСА И ТЕЛЕФОНЫ
            .div.content__icon
                input(type="image" name="edit" src="src/images/icon-edit.svg")
        .content__table
            .content__column 
                .content__th Юр. адрес:
                .content__th Юр. телефон:
                .content__th Фактич. адрес:
                .content__th Телефон:
            .content__column 
                .content__tr 105173, г. Балашиха, ул. Молодежная, д. 12А корп. 2, офис 312
                .content__tr +7 (495) 345-55-88
                .content__tr 105173, г. Балашиха, ул. Молодежная, д. 12А корп. 2, офис 312
                .content__tr +7 (916) 216-55-88
    .content__block-separator
        .content__category
            .content__subtitle РЕКВИЗИТЫ ОРГАНИЗАЦИИ
            div.content__icon
                input(type="image" name="edit" src="src/images/icon-edit.svg")
        .content__table
            .content__column 
                .content__th БИК:
                .content__th Банк:
                .content__th Р/С:
                .content__th К/С:
                .content__th ИНН:
                .content__th КПП:
                .content__th ОГРН:
                .content__th Ген. директор:
            .content__column 
                .content__tr 044525225
                .content__tr ПАО СБЕРБАНК
                .content__tr 4070 2810 0000 9000 1425
                .content__tr 3010 1810 5403 0000 0795 БИК 044 030 795
                .content__tr 1001254535
                .content__tr 773101001
                .content__tr 1053600591197
                .content__tr Степаненко Игорь Яковлевич
    .content__block-separator
        .content__category.mb-2
            .content__subtitle ПРИЛОЖЕННЫЕ ФАЙЛЫ
            div.content__icon
                input(type="image" name="edit" src="src/images/icon-edit.svg")
        .content__category.mb-1
            .content__file Договор ЗН 1234-4567.pdf
                .content__description Файл PDF, 1.2 МБ
            div.content__icon
                input(type="image" name="edit" src="src/images/icon-cancel.svg")
        .content__category.mb-1
            .content__file.content__file--uncertain Фотографии счета на оплату
                .content__description Файл PDF, 1.2 МБ
            div.content__icon
                input(type="image" name="edit" src="src/images/icon-cancel.svg")
        .content__category
            .content__file.content__file--uncertain Документы за декабрь.zip
                .content__description Файл PDF, 1.2 МБ
            div.content__icon
                input(type="image" name="edit" src="src/images/icon-cancel.svg")
        div.content__button
            input.button(type="submit" name="add" value="ДОБАВИТЬ ФАЙЛ")
