.deletion
    .deletion__shaddow
    .deletion__pop-up.deletion__pop-up--shadow
        .deletion__title Удалить карточку
        .deletion__subtitle Отправить карточку организации в архив?
        .deletion__button.mt-1
            div
                input.deletion__answer.deletion__answer--cancel(type="submit" name="cancel" value="ОТМЕНА")
            div
                input.deletion__answer.deletion__answer----delete(type="submit" name="delete-page" value="УДАЛИТЬ")
