.header
    .header__nav
        include ../images/icon-arrow.svg
        .header__title К СПИСКУ ЮРИДИЧЕСКИХ ЛИЦ
    .header__control 
        div.header__button
            input(type="image" name="chain" src="src/images/icon-chain.svg")
        div.header__button
            input(type="image" name="history" src="src/images/icon-history.svg")
        div.header__button
            input(type="image" name="delete" src="src/images/icon-delete.svg")
