.header
    .header__nav
        include ../images/icon-arrow.svg
        .header__title К СПИСКУ ЮРИДИЧЕСКИХ ЛИЦ
    .header__control 
        include ../images/icon-chain.svg
        include ../images/icon-history.svg
        include ../images/icon-delete.svg
