.main
    .main__block-separator
        .main__category
            .main__title Перспективные захоронения
            div.main__icon.main__icon--center
                input(type="image" name="edit" src="images/icon-edit.svg")
    .main__block-separator
        .main__category
            .main__subtitle ОБЩАЯ ИНФОРМАЦИЯ
            div.main__icon
                input(type="image" name="edit" src="images/icon-edit.svg")
        table.table.mt-1
            tr
                th.table__header Полное название:
                td.table__data-cell ООО Фирма “Перспективные захоронения”
            tr
                th.table__header Договор:
                td.table__data-cell 2345 от 12.03.2015, расторгнут 20.05.2017
            tr
                th.table__header Форма:
                td.table__data-cell ООО
            tr
                th.table__header Тип:
                td.table__data-cell Агент, Подрядчик
    .main__block-separator
        .main__category
            .main__subtitle КОНТАКТНЫЕ ДАННЫЕ
            div.main__icon
                input(type="image" name="edit" src="images/icon-edit.svg")
        table.table.mt-1
            tr
                th.table__header ФИО:
                td.table__data-cell Григорьев Сергей Петрович
            tr
                th.table__header Телефон:
                td.table__data-cell +7 (916) 216-55-88
            tr
                th.table__header Эл. почта:
                td.table__data-cell.table__link grigoriev@funeral.com
    .main__block-separator
        .main__category
            .main__subtitle АДРЕСА И ТЕЛЕФОНЫ
            .div.main__icon
                input(type="image" name="edit" src="images/icon-edit.svg")
        table.table.mt-1
            tr
                th.table__header Юр. адрес:
                td.table__data-cell 105173, г. Балашиха, ул. Молодежная, д. 12А корп. 2, офис 312
            tr
                th.table__header Юр. телефон:
                td.table__data-cell +7 (495) 345-55-88
            tr
                th.table__header Фактич. адрес:
                td.table__data-cell 105173, г. Балашиха, ул. Молодежная, д. 12А корп. 2, офис 312
            tr
                th.table__header Телефон:
                td.table__data-cell +7 (916) 216-55-88
    .main__block-separator
        .main__category
            .main__subtitle РЕКВИЗИТЫ ОРГАНИЗАЦИИ
            div.main__icon
                input(type="image" name="edit" src="images/icon-edit.svg")
        table.table.mt-1
            tr
                th.table__header БИК:
                td.table__data-cell 044525225
            tr
                th.table__header Банк:
                td.table__data-cell ПАО СБЕРБАНК
            tr
                th.table__header Р/С:
                td.table__data-cell 4070 2810 0000 9000 1425
            tr
                th.table__header К/С:
                td.table__data-cell 3010 1810 5403 0000 0795 БИК 044 030 795
            tr
                th.table__header ИНН:
                td.table__data-cell 1001254535
            tr
                th.table__header КПП:
                td.table__data-cell 773101001
            tr
                th.table__header ОГРН:
                td.table__data-cell 1053600591197
            tr
                th.table__header Ген. директор:
                td.table__data-cell Степаненко Игорь Яковлевич
    .main__block-separator
        .main__category.mb-2
            .main__subtitle ПРИЛОЖЕННЫЕ ФАЙЛЫ
            div.main__icon
                input(type="image" name="edit" src="images/icon-edit.svg")
        .main__category.mb-1
            .main__file Договор ЗН 1234-4567.pdf
                .main__description Файл PDF, 1.2 МБ
            div.main__icon
                input(type="image" name="delete-file" src="images/icon-cancel.svg")
        .main__category.mb-1
            .main__file.main__file--uncertain Фотографии счета на оплату
                .main__description Файл PDF, 1.2 МБ
            div.main__icon
                input(type="image" name="delete-file" src="images/icon-cancel.svg")
        .main__category
            .main__file.main__file--uncertain Документы за декабрь.zip
                .main__description Файл PDF, 1.2 МБ
            div.main__icon
                input(type="image" name="delete-file" src="images/icon-cancel.svg")
        div.main__button
            input.button(type="submit" name="add" value="ДОБАВИТЬ ФАЙЛ")
