div.menu 
    div.menu__nav
        div.menu__pages
            a.menu__link
                include ../images/nav-icon-home.svg
            a.menu__link
                include ../images/nav-icon-order.svg
            a.menu__link
                include ../images/nav-icon-safety.svg
            a.menu__link
                include ../images/nav-icon-catalog.svg
            a.menu__link
                include ../images/nav-icon-administration.svg
            a.menu__link
                include ../images/nav-icon-agent-service.svg
            a.menu__link
                include ../images/nav-icon-search.svg
        div.menu__personal
            a.menu__link
                include ../images/nav-icon-chat.svg
            a.menu__link
                include ../images/nav-icon-contactors.svg
            a.menu__link
                include ../images/nav-icon-exit-hover.svg
    div.menu__base 
        div
