.popup#j-popup
    .popup__content
        .popup__title Удалить карточку
        .popup__subtitle Отправить карточку организации в архив?
        .popup__button.mt-2
            div
                input#j-cancel-button.popup__answer.popup__answer--cancel(type="submit" name="cancel" value="ОТМЕНА")
            div
                input.popup__answer.popup__answer--delete(type="submit" name="delete-page" value="УДАЛИТЬ")
